<div class="wrapper">
  <div class="footer">
    <p class="guideline">
      このページで利用している株式会社スクウェア・エニックスを代表とする共同著作者が権利を所有する画像の転載・配布は禁止いたします。
    </p>
    <p class="guideline">
      (C) ARMOR PROJECT/BIRD STUDIO/SQUARE ENIX All Rights Reserved.
    </p>
  </div>
</div>